<form method="get" action="/db">
    ID: <input type="text" name="id" value="" />
    <button type="submit">Find</button>
</form>
<div>
    Or, <a href="/db/add">add a new entry</a>
</div>

{{#if result }}
    <h3>Results</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.data }}</td>
            </tr>
        </tbody>
    </table>

    <a href="./db">
        Clear Results
    </a>
{{else }}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {{#each list as |item key|}}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data }}</td>
            </tr>
            {{/each }}
        </tbody>
    </table>
{{/if }}